/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERAL <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/*se importa la tipografía Montserrat de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000000;
}
html{
  display: flex;
  flex-direction:column;
  align-items: center;
}

h1{
  color: rgb(0, 0, 0);
}

/*BODY HEDER MAIN FOOTER*/


body{
  font-size: 12px;
  margin: 0;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:unset;
  align-content:stretch;
  max-width: 950px;
  width: 100%;
}

head{
  width: 100%;
}
main {
  width: 100%;
  margin: 0px;
  color: rgb(255,255,255);
  display: block;
  text-align: center;
}
/*FORM*/
form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  position: relative;
}
/*div buttons*/
div.btnBox{
  height: 100px;
  width: 80%;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content:center;
}
div.btn{
  width: 156px;
  height: 34px;
  background-image: linear-gradient(to left,#9381FF, #FFD8BE 95%) ;
  border-radius: 5px;
  color: #000000;
  font-weight: 700;
  position: relative;
  bottom: 5px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
  box-shadow:  5px 5px 5px rgb(148, 129, 255, 0.7);
  cursor: pointer;
  transition: all 300ms ease;
}
div.btn:active{
  transform: scale(0.8);
  box-shadow:  -10px -10px -10px rgb(148, 129, 255, 0.7);

}

button.btnSubmit{
  width: 156px;
  height: 34px;
  background-image: linear-gradient(to left,#9381FF, #FFD8BE 95%) ;
  border-radius: 5px;
  color: #000000;
  font-weight: 700;
  position: relative;
  bottom: 5px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  align-content:center;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SECTION <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
}

section.personal,section.family,section.residency,section.contact,section.vocation,section.photo{
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/fondo.png);
}

section.grownup,section.smallGroup{
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/fondoLargo.png);
}

section.grownup,section.smallGroup,section.personal,section.family,section.residency,section.contact,section.vocation,section.photo{
  display: none;
}
/* >>>>>>>>>>>>>>>>>>>> section welcome y finish <<<<<<<<<<<<<<<<<<<< */

section.welcome,section.finish{  
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:flex-end;
  align-content:center;
}
div.bakcgroundImage{
  position: relative;
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:center;
  align-content:center;
}
div.bakcgroundImage img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.containerWelcome,div.containerFinish{
  position: absolute;
  z-index: 10;
  margin-bottom: 10px;
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:flex-end;
  align-items:center;
  align-content:center;
}
div.containerWelcome{
  bottom: -70px;
}
div.containerFinish{
  bottom: -100px;
}

div.bienvenida{
  color: #000000;
  width: 80%;
  max-width: 450px;
  margin: 10px;
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:flex-end;
  align-items:center;
  align-content:center;
}
div.bienvenida h1{
  margin: 0px;
  font-size: 20px;
}
div.bienvenida p{
  margin: 0px;
  padding: 5px;
  font-size: 15px;
}

div.btnBoxWelcome{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content:center;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ELEMENTOS DENTRO DEL SECTION <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*  div mark y div text  */
div.mark, div.text{
  width: 80%;
  margin: 10px;
}

/* div text */
div.text{
  width: 80%;
}
div.text input {
  width: 100%;
  height: 30px;
  outline:none;
  border: 0;
  border-radius: 3px;
}

/* formatos div marcos */
div.mark{
  border-style: solid;
  border-color: rgb(255,255,255);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start
}
div.paragrph{
  font-size: 20px;
  text-align: left;
  padding: 0px 10px;
  height: 20%;
  width: 100%;
}
 /*inputs*/
div.inputRow,div.inputColumn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-left: 10px;
}

div.checkLabel{
  font-size: 15px;
  width: 80%;
}
div.checkLabelRow{
  font-size: 15px;
  width: 20%;
}
div.checkLabel p,div.checkLabelRow p{
  display: flex;
  margin-left: 5px;
}

/*div date*/
div.date{
  width: 80%;
  border-style: solid;
  border-color: rgb(255,255,255);
  border-width: 1px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
  align-items:unset;
  align-content:center;
}
div.dateLabel {
  width: 100%;
  height: 30px;
  margin: 10px;
}
input[type='date']{
  width: 80%;
  height: 100%;
  outline:none;
  border: 0;
  border-radius: 3px;
}

/*div radio y box row*/
div.insideLabelRow{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: unset;
  align-content: center;
  margin: 0px;
}
/*div radio y box column*/
div.insideLabelColumn{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: unset;
  align-content: center;
  margin: 0px;
}

/*radiobutton y checkbox*/
div.radiobutton{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  align-items:unset;
  align-content:center;
}
input[type='radio']{
  width: 20px;
  height: 20px;
}
input[type='checkbox']{
  width: 20px;
  height: 20px;
}
/*parrafos largos*/
.short{
  display: block;
}
.longer{
  display: none;
}
/*section photo*/

div.photoBox{
  margin: 20px 0px;
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vw;
  max-width: 800px;
  max-height: 800px;
  min-height: 350px;
  padding: 5%;
}
div.paragrphBlue{
  font-size: 15px;
  color: #9381FF;
  text-align: center;
  width: 100%;
  margin: 5px;
  height: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: unset;
  align-content: center;
}
div.dotedBox{
  border-style: dotted;
  border-color: rgb(150, 150, 150);
  border-width: 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  height: 80%;
  width: 100%;
}

/*subir foto*/
input.inputPhoto{
  display: none;
}
label.inputPhotoLabel{
  display: block;
  padding: 8px 21px;
  background-color: #FFF;
  color: #9381FF;
  cursor: pointer;
}
h3.namePhoto{
  color: #000000;
}
.textDanger {
  color: rgb(255, 0, 0);
  font-size: 14px;
  margin: 2px;
}
h4#titleError.textDanger{
  font-size: 13px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>VENTANA EMERGENTE<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.modalPersonal,.modalFamily,.modalResidency,.modalContact,.modalGrownup,.modalSmallGroup,.modalVocation,.modalPhoto{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
.contenedorPersonal,.contenedorFamily,.contenedorResidency,.contenedorContact,.contenedorGrownup,.contenedorSmallGroup,.contenedorVocation,.contenedorPhoto{
  width: 95%;
  height: auto;
  margin: auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}

.contenedorPersonal article.header,
.contenedorFamily article.header,
.contenedorResidency article.header,
.contenedorContact article.header,
.contenedorGrownup article.header,
.contenedorSmallGroup article.header,
.contenedorVocation article.header,
.contenedorPhoto article.header{
  background-color: rgb(255, 255, 255);
  color:  rgba(148, 129, 255, 0.8)  ;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
article.header img{
  display: block;
  width: 100%;
  object-fit: cover;
}




.contenidoPersonal,
.contenidoFamily,
.contenidoResidency,
.contenidoContact,
.contenidoGrownup,
.contenidoSmallGroup,
.contenidoVocation,
.contenidoPhoto{
  width: 100%;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>INPUTS EMERGENTES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
#numberChildren,#isChildrenAttendChurch{
  display: none;
}

@media (min-width: 361px) {
  /*portada*/
  div.containerWelcome{
    bottom: 0px;
  }
  div.containerFinish{
    bottom: -50px;
  }
  div.bienvenida h1{
    font-size: 24px;
  }
  div.bienvenida p{
  
    font-size: 20px;
  }
  /*div 361 inputs*/
  div.insideLabelRow{
    flex-direction:row;
  }
  div.inputRow{
    justify-content: center;
  }
  /*section 361 photo*/
  div.paragrphBlue{
    font-size: 20px;
  }
  /*parrafos 361 largos*/
  .short{
    display: none;
  }
  .longer{
    display: block;
  }
}
@media (min-width: 560px) {
  
  /*div 560 buttons*/
  div.btnBox{
    height: 60px;
    flex-direction:row;  
    justify-content: space-between;
  }

}
@media (min-width: 761px) {}
@media (min-width: 1000px) {}