<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <%- include('./partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

    <!-- MAIN -->
    <main>
      <h1>Formulario actualización de datos</h1>
      <hr size="" color="black">

      <form action='/post' method='post' id='formNewDataMembers' name='formNewDataMembers' enctype='multipart/form-data' class='formNewDataMembers'>

<!------------------------------ SECTION 1 PERSONAL ------------------------------>
        <section class='personal' id='personal'>

          <h2>Personal</h2>

          <!--NOMBRE-->
          <div class='text'>
            <input type='text' name='firstName' id='firstName' class= 'input-text' placeholder='Nombre'  maxlength='50'>
          </div>

          <!--APELLIDO-->
          <div class='text'>
            <input type='text' name='lastName' id='lastName' class= 'input-text' placeholder='Apellido'   maxlength='50'>
          </div>

          <!--NACIMIENTO-->
          <div class='date'>
            <div class='paragrph'>
              <p>Fecha de nacimiento</p>
            </div>

            <div class='dateLabel'>
              <input type='date' name='dateOfBirthAt' id='dateOfBirthAt' class= 'input-date' >
            </div>
          </div>

          <!--GENERO-->
          <div class='mark'>
            <div class='paragrph'>
              <p>Genero:</p>
            </div>

            <div class='insideLabelRow'>
              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='sex' value='h' id='sex-h' ></div>
                <div class="checkLabelrRow"><p><strong>H</strong></p></div> 
              </div>

              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='sex' value='m' id='sex-m' ></div>
                <div class="checkLabelRow"><p><strong>M</strong></p></div>
              </div>
              
              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='sex' value='nc' id='sex-nc' ></div>
                <div class="checkLabelRow"><p><strong>N/C</strong></p></div>
              </div>
            </div>
          </div>

          <!--SITUACION RELACIONAL-->
          <div class='mark'>
            <div class='paragrph'>
              <p>Situación relacional:</p>
            </div>

            <div class='insideLabelColumn'>
              <div class='inputColumn'>
                <div class="radiobutton"><input type='radio' name='relationalSituation' value='s' id='relationalSituation-s' ></div>
                <div class="checkLabel"><p><strong>Soltero/a</strong></p></div>  
              </div>
              
              <div class='inputColumn'>
                <div class="radiobutton"><input type='radio' name='relationalSituation' value='ep' id='relationalSituation-ep' ></div>
                <div class="checkLabel"><p><strong>En pareja</strong></p></div>  
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='radio' name='relationalSituation' value='c' id='relationalSituation-c' ></div>
                <div class="checkLabel"><p><strong>Casado/a</strong></p></div>  
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='radio' name='relationalSituation' value='v' id='relationalSituation-v' ></div>
                <div class="checkLabel"><p><strong>Viudo/a</strong></p></div>  
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='radio' name='relationalSituation' value='d' id='relationalSituation-d' ></div>
                <div class="checkLabel"><p><strong>Divorciado/a</strong></p></div>  
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='radio' name='relationalSituation' value='o' id='relationalSituation-o' ></div>
                <div class="checkLabel"><p><strong>Otra</strong></p></div>
              </div>
            </div>
          </div>

          <!--CONTINUAR-->
          <div class='button' id='buttonPersonal'>
            <h3>CONTINUAR</h3>
          </div>

        </section>
        <hr size="1" color="white">

<!------------------------------ SECTION 2 FAMILY ------------------------------>
        <section class='family' id='family'>

          <h2>Familia</h2>

          <!--CONVIVENCIA-->
          <div class='mark'>
            <div class='paragrph'>
              <p>¿Con quien vives?</p>
            </div>

            <div class='insideLabelColumn'>
              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' value='p' id='coexistenceSituation-p' ></div>
                <div class="checkLabel"><p><strong>Papá</strong></p></div>
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' value='m' id='coexistenceSituation-m' ></div>
                <div class="checkLabel"><p><strong>Mamá</strong></p></div>
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' value='t' id='coexistenceSituation-t' ></div>
                <div class="checkLabel"><p><strong>Tío/a</strong></p></div>
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' value='a' id='coexistenceSituation-a' ></div>
                <div class="checkLabel"><p><strong>Abuelo/a </strong></p></div>
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' value='c' id='coexistenceSituation-c' ></div>
                <div class="checkLabel"><p><strong>Cónyuge</strong></p></div>
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' value='h' id='coexistenceSituation-h' ></div>
                <div class="checkLabel"><p><strong>Hijo/s</strong></p></div>
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' value='s' id='coexistenceSituation-s' ></div>
                <div class="checkLabel"><p><strong>Solo/a</strong></p></div>
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='coexistenceSituation' value='o' id='coexistenceSituation-s' ></div>
                <div class="checkLabel"><p><strong>Otro</strong></p></div>
              </div>
            </div>
          </div>

          <!--HIJOS-->
          <div class='mark'>
            <div class='paragrph'>
              <p>¿Tiene hijos?</p>
            </div>

            <div class='insideLabelRow'>
              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='isChildren' value='s' id='isChildren-s' ></div>
                <div class="checkLabelRow"><p><strong>Sí</strong></p></div>
              </div>

              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='isChildren' value='n' id='isChildren-n'  checked></div>
                <div class="checkLabelRow"><p><strong>No</strong></p></div>
              </div>
            </div>

            <div class='text'><input type='number' name='numberChildren' value='' id='numberChildren-n' placeholder="¿Cuantos?"></div>
            <div class='text'><input type='number' name='isChildrenAttendChurch' value='' id='isChildrenAttendChurch-n' placeholder="¿Cuantos asisten a la iglesia?"></div>
          </div>

          <!--CONTINUAR-->
          <div class='button' id='buttonFamily'>
           <h3>CONTINUAR</h3>
          </div>

        </section>
        <hr size="1" color="white">
        
<!------------------------------ SECTION 3 RESIDENCY ------------------------------>
        <section class='residency' id='residency'>

          <h2>Recidencia</h2>

          <!--CALLE-->
          <div class='text'>
            <input type='text' name='street' id='street' class= 'input-text' placeholder='Calle'  maxlength='50'>
          </div>

          <!--NUEMRACION-->
          <div class='text'>
            <input type='text' name='numeration' id='numeration' class= 'input-text' placeholder='Numeración'  maxlength='50'>
          </div>
              
          <!--ACLARACION-->
          <div class='text'>
            <input type='text' name='secondLine' id='secondLine' class= 'input-text' placeholder='A tener en cuenta'  maxlength='200'>
          </div>

          <!--BARRIO-->
          <div class='text'>                  
            <input type='text' name='neighborhood' id='neighborhood' class= 'input-text' placeholder='Barrio'  maxlength='50'>
          </div>

          <!--MANZANA-->
          <div class='text'>                  
            <input type='text' name='neighborhoodBlock' id='neighborhoodBlock' class= 'input-text' placeholder='Manzana' maxlength='50'>
          </div>

          <!--CASA-->
          <div class='text'>                  
            <input type='text' name='houseNumber' id='houseNumber' class= 'input-text' placeholder='Casa' maxlength='50'>
          </div>

          <!--CODIGO POSTAL-->
          <div class='text'>
            <input type='text' name='postalCode' id='postalCode' class= 'input-text' placeholder='Código postal'  maxlength='50'>
          </div>
              
          <!--LOCALIDAD-->
          <div class='text'>
            <input type='text' name='location' id='location' class= 'input-text' placeholder='Localidad' maxlength='50'>
          </div>
              
          <!--DEPARTAMENTO-->
          <div class='text'>
            <input type='text' name='city' id='city' class= 'input-text' placeholder='Departamento'  maxlength='50'>
          </div>
              
          <!--PROVINCIA-->
          <div class='text'>
            <input type='text' name='state' id='state' class= 'input-text' placeholder='Provincia'  maxlength='50'>
          </div>
              
          <!--PAIS-->
          <div class='text'>
            <input type='text' name='country' id='country' class= 'input-text' placeholder='País'  maxlength='50'>
          </div>

          <!--CONTINUAR-->
          <div class='button' id='buttonResidency'>
            <h3>CONTINUAR</h3>
          </div>    

        </section>
        <hr size="" color="white">
        
<!------------------------------ SECTION 4 CONTACT ------------------------------>
        <section class='contact' id='contact'>

          <h2>Contacto</h2>

          <!--CELULAR-->
          <div class='text'>
            <input type='number' name='valueContact' id='valueContact' class= 'input-text' placeholder='Telefono celular'  maxlength='50'>
          </div>

          <!--FIJO-->
          <div class='text'>
            <input type="number" name='fijo' id='fijo' class= 'input-text' placeholder='Fijo (opcional)' maxlength='50'>
          </div>

          <!--CORREO-->
          <div class='text'>
            <input type="email" name="email" id="email" class= "input-text"  placeholder='Email'  minlength="5" maxlength="50">
          </div>

          <!--REDES-->
          <div class='mark'>
            <div class='paragrph'>
              <p>Redes sociales</p>
            </div>

            <div class='insideLabelColumn'>
              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='YouVersion' id='webSite-YouVersion' ></div>
                <div class='checkLabel'><p><strong>YouVersion</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Facebook' id='webSite-Facebook' ></div>
                <div class='checkLabel'><p><strong>Facebook</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Instagram' id='webSite-Instagram' ></div>
                <div class='checkLabel'><p><strong>Instagram</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='YouTube' id='webSite-YouTube' ></div>
                <div class='checkLabel'><p><strong>YouTube</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Tik' id='webSite-Tik' ></div>
                <div class='checkLabel'><p><strong>Tik Tok</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Spotify' id='webSite-Spotify' ></div>
                <div class='checkLabel'><p><strong>Spotify</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='WhatsApp' id='webSite-WhatsApp' ></div>
                <div class='checkLabel'><p><strong>WhatsApp</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Telegram' id='webSite-Telegram' ></div>
                <div class='checkLabel'><p><strong>Telegram</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Twitter' id='webSite-Twitter' ></div>
                <div class='checkLabel'><p><strong>Twitter</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Twitch' id='webSite-Twitch' ></div>
                <div class='checkLabel'><p><strong>Twitch</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Discord' id='webSite-Discord' ></div>
                <div class='checkLabel'><p><strong>Discord</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Pinterest' id='webSite-Pinterest' ></div>
                <div class='checkLabel'><p><strong>Pinterest</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='LinkedIn' id='webSite-LinkedIn' ></div>
                <div class='checkLabel'><p><strong>LinkedIn</strong></p></div> 
              </div>

              <div class='inputColumn'>
                <div class="radiobutton"><input type='checkbox' name='webSite' value='Slack' id='webSite-Slack' ></div>
                <div class='checkLabel'><p><strong>Slack</strong></p></div> 
              </div>    
            </div>
          </div>

          <!--CONTINUAR-->
          <div class='button' id='buttonContact'>
            <h3>CONTINUAR</h3>
          </div>

        </section>
        <hr size="" color="white">

<!------------------------------ SECTION 5 GROWNUP ------------------------------>
        <section class='grownup' id='grownup'>

          <h2>Crecimiento Cristiano</h2>

          <!--TIEMPO DE ASISTENCIA-->
          <div class='mark'>
            <div class='paragrph'>
              <p>¿Desde cuándo asistís a nuestra iglesia?</p>
            </div>

            <div class='insideLabelColumn'>
              <div class="inputColumn">
                <div class="radiobutton"><input type='radio' name='timeChurch' value='timeChurch-0' id='timeChurch-0' ></div>
                <div class="checkLabel"><p><strong>Menos de 6 meses</strong></p></div>
              </div>
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='radio' name='timeChurch' value='timeChurch-6-1' id='timeChurch-6-1' ></div>
                <div class="checkLabel"><p><strong>Entre 6 meses a 1 año</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='radio' name='timeChurch' value='timeChurch-1-5' id='timeChurch-1-5' ></div>
                <div class="checkLabel"><p><strong>Entre 1 año a 5 años</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='radio' name='timeChurch' value='timeChurch-5-0' id='timeChurch-5-0' ></div>
                <div class="checkLabel"><p><strong>Más de 5 años</strong></p></div>
              </div>
            </div>
          </div>
                
          <!--EXPERIENCIAS COMPLETADAS-->
          <div class='mark'>
            <div class='paragrph'>
              <p>Marca las experiencias completadas</p>
            </div>

            <div class='insideLabelColumn'>
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='nuevoInicio' id='churchExperiences-nuevoInicio' ></div>
                <div class="checkLabel short"><p><strong>Nuevo Inicio</strong></p></div>
                <div class="checkLabel longer"><p><strong>Nuevo Inicio con Dios</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='bautismo' id='churchExperiences-bautismo' ></div>
                <div class="checkLabel"><p><strong>Bautismo</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='p1' id='churchExperiences-p1' ></div>
                <div class="checkLabel short"><p><strong>Paso 1-Miembro</strong></p></div>
                <div class="checkLabel longer"><p><strong>Paso 1-Charla de nuevos Miembros</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='p2' id='churchExperiences-p2' ></div>
                <div class="checkLabel short"><p><strong>Paso 2-Forma</strong></p></div>
                <div class="checkLabel longer"><p><strong>Paso 2-Descubre tu Forma</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='p3' id='churchExperiences-p3' ></div>
                <div class="checkLabel short"><p><strong>Paso 3-Madrez</strong></p></div>
                <div class="checkLabel longer"><p><strong>Paso 3-Adopta Hábitos de Madurez</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='p4' id='churchExperiences-p4' ></div>
                <div class="checkLabel short"><p><strong>Paso 4-Voluntario</strong></p></div>
                <div class="checkLabel longer"><p><strong>Paso 4-Voluntariado inicial</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='vd1' id='churchExperiences-vd1' ></div>
                <div class="checkLabel short"><p><strong>Vida 1</strong></p></div>
                <div class="checkLabel longer"><p><strong>Vida Discipular 1</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='vd2' id='churchExperiences-vd2' ></div>
                <div class="checkLabel short"><p><strong>Vida 2</strong></p></div>
                <div class="checkLabel longer"><p><strong>Vida Discipular 2</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='vd3' id='churchExperiences-vd3' ></div>
                <div class="checkLabel short"><p><strong>Vida 3</strong></p></div>
                <div class="checkLabel longer"><p><strong>Vida Discipular 3</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='vd4' id='churchExperiences-vd4' ></div>
                <div class="checkLabel short"><p><strong>Vida 4</strong></p></div>
                <div class="checkLabel longer"><p><strong>Vida Discipular 4</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='libre' id='churchExperiences-libre' ></div>
                <div class="checkLabel"><p><strong>Sea Libre</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='fundamentos' id='churchExperiences-fundamentos' ></div>
                <div class="checkLabel"><p><strong>Fundamentos</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='celebremos' id='churchExperiences-celebremos' ></div>
                <div class="checkLabel short"><p><strong>Celebremos</strong></p></div>
                <div class="checkLabel longer"><p><strong>Celebremos la Recuperación</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='churchExperiences' value='otro' id='churchExperiences-otro' ></div>
                <div class="checkLabel"><p><strong>Otros</strong></p></div>
              </div>
            </div>
          </div>
                         
          <!--SERVICIOS USADOS-->
          <div class='mark'>
            <div class='paragrph'>
              <p>Servicios que has utilizados</p>
            </div>

            <div class='insideLabelColumn'>
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='servicesUsed' value='cafeteria' id='servicesUsed-cafeteria' ></div>
                <div class="checkLabel"><p><strong>Cafetería</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='servicesUsed' value='camping' id='servicesUsed-camping' ></div>
                <div class="checkLabel"><p><strong>Camping</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='servicesUsed' value='escuela-musica' id='servicesUsed-escuela-musica' ></div>
                <div class="checkLabel"><p><strong>Escuela de Música</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='servicesUsed' value='escuela-danza' id='servicesUsed-escuela-danza' ></div>
                <div class="checkLabel"><p><strong>Escuela de Danza</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='servicesUsed' value='casa-mujer' id='servicesUsed-casa-mujer' ></div>
                <div class="checkLabel"><p><strong>Casa de la Mujer</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='servicesUsed' value='jardín' id='servicesUsed-jardín' ></div>
                <div class="checkLabel"><p><strong>Jardín Maternal</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='servicesUsed' value='acasa' id='servicesUsed-acasa' ></div>
                <div class="checkLabel"><p><strong>ACASA</strong></p></div>
              </div>
            </div>
          </div>

          <!--CONTINUAR-->
          <div class='button' id='buttonGrownup'>
            <h3>CONTINUAR</h3>
          </div>

        </section>
        <hr size="" color="white">

<!------------------------------ SECTION 6 SMALL GORUP ------------------------------>
        <section class='smallGroup' id='smallGroup'>

          <h2>Grupo pequeño</h2>

          <!--VA A UN GP?-->
          <div class='mark'>
            <div class='paragrph'>
              <p>¿Asistes a un Grupo pequeño?</p>
            </div>

            <div class='insideLabelRow'>
              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='isParticipateSmallGroup' value='si' id='isParticipateSmallGroup-si' ></div>
                <div class="checkLabelRow"><p><strong>Sí</strong></p></div>
              </div>
              
              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='isParticipateSmallGroup' value='no' id='isParticipateSmallGroup-no' ></div>
                <div class="checkLabelRow"><p><strong>No</strong></p></div>
              </div>
            </div>

            <div class='text'>
              <input type='text' name='smallGroupName' id='smallGroupName' class= 'input-text' placeholder="Nombre del grupo" maxlength='50'>
            </div>
            <div class='text'>
              <input type='text' name='smallGroupGuide' id='smallGroupGuide' class= 'input-text' placeholder="Nombre del guía" maxlength='50'>
            </div>

            </div>

          <!--QUE LE GUSTA?-->
          <div class='mark'>
            <div class='paragrph'>
              <p>¿Qué disfrutás del grupo pequeño?</p>
            </div>
            
            <div class='insideLabelColumn'>
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='enjoyMost' value='compañía' id='enjoyMost-compañía' ></div>
                <div class="checkLabel"><p><strong>Compañía</strong></p></div>
              </div>
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='enjoyMost' value='amistad' id='enjoyMost-amistad' ></div>
                <div class="checkLabel"><p><strong>Amistad</strong></p></div>
              </div>
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='enjoyMost' value='comida' id='enjoyMost-comida' ></div>
                <div class="checkLabel"><p><strong>Comida</strong></p></div>
              </div>
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='enjoyMost' value='oración' id='enjoyMost-oración' ></div>
                <div class="checkLabel"><p><strong>Oración</strong></p></div>
              </div>
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='enjoyMost' value='aprender' id='enjoyMost-aprender' ></div>
                <div class="checkLabel short"><p><strong>La Biblia</strong></p></div>
                <div class="checkLabel longer"><p><strong>Aprender de la Biblia</strong></p></div>
              </div>
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='enjoyMost' value='otros' id='enjoyMost-otros' ></div>
                <div class="checkLabel"><p><strong>Otros</strong></p></div>
              </div>
            </div>
          </div>

          <!--AREA DE INTERES-->
          <div class='mark'>
            <div class='paragrph'>
              <p>¿Cuál es tu área de interés?</p>
            </div>
            <div class='insideLabelColumn'>
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='relaciones' id='yourAreaInterest-relaciones' ></div>
                <div class="checkLabel"><p><strong>Relaciones</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='biblia' id='yourAreaInterest-biblia' ></div>
                <div class="checkLabel short"><p><strong>La Biblia</strong></p></div>
                <div class="checkLabel longer"><p><strong>Conocer más la Biblia</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='proposito' id='yourAreaInterest-miProposito' ></div>
                <div class="checkLabel short"><p><strong>Mi propósito</strong></p></div>
                <div class="checkLabel longer"><p><strong>Descubrir mi propósito</strong></p></div>
              </div>
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='servir' id='yourAreaInterest-servir' ></div>
                <div class="checkLabel"><p><strong>Servir</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='habitoss' id='yourAreaInterest-habitos' ></div>
                <div class="checkLabel short"><p><strong>Hábitos</strong></p></div>
                <div class="checkLabel longer"><p><strong>Desarrollar hábitos saludables</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='esparcimiento' id='yourAreaInterest-esparcimiento' ></div>
                <div class="checkLabel"><p><strong>Esparcimiento</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='diversion' id='yourAreaInterest-diversion' ></div>
                <div class="checkLabel"><p><strong>Diversión</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='comunion' id='yourAreaInterest-comunion' ></div>
                <div class="checkLabel"><p><strong>Comunión</strong></p></div>
              </div>
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourAreaInterest' value='otros' id='yourAreaInterest-otros' ></div>
                <div class="checkLabel"><p><strong>Otros</strong></p></div>
              </div>
            </div>
          </div>
          
          <!--NECESIDADES-->
          <div class='mark'>
            <div class='paragrph'>
              <p>¿Cuáles son tus necesidades?</p>
            </div>

            <div class='insideLabelColumn'>
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='salud' id='yourNeeds-salud' ></div>
                <div class="checkLabel short"><p><strong>Salud</strong></p></div>
                <div class="checkLabel longer"><p><strong>Problemas de salud</strong></p></div>
              </div>
                    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='economia' id='yourNeeds-economia' ></div>
                <div class="checkLabel"><p><strong>Economía</strong></p></div>
              </div>    
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='familia' id='yourNeeds-familia' ></div>
                <div class="checkLabel"><p><strong>Familia</strong></p></div>
              </div>    
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='oracion' id='yourNeeds-oracion' ></div>
                <div class="checkLabel"><p><strong>Oración</strong></p></div>
              </div> 
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='adicciones' id='yourNeeds-adicciones' ></div>
                <div class="checkLabel"><p><strong>Adicciones</strong></p></div>
              </div> 
                        
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='equilibrioEmocional' id='yourNeeds-equilibrioEmocional' ></div>
                <div class="checkLabel"><p><strong>Equilibrio emocional</strong></p></div>
              </div>    
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='controlEmociones' id='yourNeeds-controlEmociones' ></div>
                <div class="checkLabel"><p><strong>Control de emociones</strong></p></div>
              </div>    
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='soledad' id='yourNeeds-soledad' ></div>
                <div class="checkLabel"><p><strong>Soledad</strong></p></div>
              </div>    
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='crianza' id='yourNeeds-crianza' ></div>
                <div class="checkLabel"><p><strong>Crianza</strong></p></div>
              </div>    

              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='matrimonial' id='yourNeeds-matrimonial' ></div>
                <div class="checkLabel"><p><strong>Matrimonial</strong></p></div>
              </div>    
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='laboral' id='yourNeeds-laboral' ></div>
                <div class="checkLabel"><p><strong>Laboral</strong></p></div>
              </div>    
              
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='legal' id='yourNeeds-legal' ></div>
                <div class="checkLabel"><p><strong>Legal</strong></p></div>
              </div> 
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='sxual' id='yourNeeds-sexual' ></div>
                <div class="checkLabel short"><p><strong>Sexualidad</strong></p></div>
                <div class="checkLabel longer"><p><strong>Identidad sexual</strong></p></div>
              </div> 
    
              <div class="inputColumn">
                <div class="radiobutton"><input type='checkbox' name='yourNeeds' value='otro' id='yourNeeds-otor' ></div>
                <div class="checkLabel"><p><strong>Otro</strong></p></div>
              </div> 
            </div>
          </div>
      
          <!--CONTINUAR-->
          <div class='button' id='buttonSmallGroup'>
            <h3>CONTINUAR</h3>
          </div>
        </section>
        <hr size="" color="white">

<!------------------------------ SECTION 7 VOCATION ------------------------------>
        <section class='vocation' id='vocation'>
          
          <h2>Vocacion</h2>

          <!--ES VOLUNTARIO?-->
          <div class='mark'>
            <div class='paragrph'>
              <p>¿Sirves como voluntario en la iglesia?</p>
            </div>

            <div class='insideLabelRow'>
              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='servicesChurch' value='Sí' id='servicesChurch-si' ></div>
                <div class="checkLabelRow"><p><strong>Sí</strong></p></div>
              </div>
    
              <div class="inputRow">
                <div class="radiobutton"><input type='radio' name='servicesChurch' value='No' id='servicesChurch-no'  checked></div>
                <div class="checkLabelRow"><p><strong>No</strong></p></div>
              </div>
            </div>
            
            <div class='text'>
              <input type='text' name='areaServices' id='areaServices' placeholder="Área de servicio" class= 'input-text' maxlength='60'>
            </div>
          </div>

          <!--PROFESION-->
          <div class='text'>
            <input type='text' name='profession' id='profession' class= 'input-text' placeholder="Profesión/Oficio/Labor" maxlength='60'>
          </div>

          <!--ULTIMO TRABAJO-->
          <div class='text'>
            <input type='text' name='lastJob' id='lastJob' class= 'input-text' placeholder ="Último trabajo" maxlength='60'>
          </div>
          
          <!--HABILIDADES ARTISTICAS-->
          <div class='text'>
            <input type='text' name='artist' id='artist' class= 'input-text' placeholder="Habilidades artísticas" maxlength='60'>
          </div>

          <!--CONTINUAR-->
          <div class='button' id='buttonVocation'>
            <h3>CONTINUAR</h3>
          </div>
        </section>
        <hr size="" color="white">

<!------------------------------ SECTION 8 PHOTO ------------------------------>
        <section class='photo' id='photo'>

          <div class="photoBox">
            <div class='paragrphBlue'>
              <p>¡Sumá tu foto al mural de miAlameda!</p>
            </div>

            <div class="dotedBox">
              
              <h3 class='namePhoto' id='namePhoto'></h3>
              <label class="inputPhotoLabel" for="avatar">Toca aquí para abrir la cámara o subir una foto</label>
              <input class= "inputPhoto" type="file" name="avatar" id="avatar">
              <div class="textDanger" id="avatarErr"></div>

            </div>
          </div>
          <hr size="" color="white">
        </section>

        <button type="submit" class="buttonSubmit" id='submit'>Enviar</button>

      </form>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
     <!-- SCRIPTS -->
    <script src="/js/apiMembers.js"></script>
  </body>
</html>