<head>         
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
    <meta name="description" content="Amistad, Inspiración, Aventura, Arte, Voluntariado. Iglesia Alameda">
    <meta name="keywords" content="Mi Alameda, miAlameda, Actualizacion de datos, Iglesia Alameda, Cree sin límites, Amistad, Inspiración, Aventura, Arte, Voluntariado ">
    <meta name="author" content="Diseño Alameda">
    <meta property="og:title" content="Iglesia de la Alameda">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alameda.ar">
    <meta property="og:description" content="Amistad, Inspiración, Aventura, Arte, Voluntariado. Iglesia Alameda">
    <meta property="og:site_name" content="Iglesia Alameda">
    <title>miAlameda</title>
    <script src="https://kit.fontawesome.com/2b66ed73d1.js" crossorigin="anonymous"></script>
    <base href="/">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
    </script>
    <script src="/js/sinValidar.js" defer></script>
    <script src="/js/validacionesS0.js" defer></script>
    <script src="/js/validacionesS1.js" defer></script>
    <script src="/js/validacionesS2.js" defer></script>
    <script src="/js/validacionesS3.js" defer></script>
    <script src="/js/validacionesS4.js" defer></script>
    <script src="/js/validacionesS5.js" defer></script>
    <script src="/js/validacionesS6.js" defer></script>
    <script src="/js/validacionesS7.js" defer></script>
    <script src="/js/validacionesS8.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/socialMedia/icon.png">
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>



    
    

   
   
        
    
  